.product-table {
  width: 100%;
}

.product-table thead th {
  color: #878C99;
  text-align: left;
  padding: 12px;
}

.product-table tbody td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.product-table img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.product-table strong {
  color: #333;
  display: block;
}

.product-table span {
  display: block;
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}

.product-table div {
  display: flex;
  align-items: center;
}

.product-table span {
  color: #878C99;
  margin: 0;
}

.product-table div span {
  text-align: center;
  width: 50px;
}

.product-table .product-content:hover {
  cursor: pointer;
}

.product-table button {
  background: none;
  border: 0;
  padding: 6px;
  margin: 0 25px;
}

.total {
  display: flex;
  align-items: baseline;
}

footer span {
  color: #878C99;
  font-weight: bold;
}

.total strong {
  font-size: 28px;
  margin-left: 5px;
}