.product-catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  list-style: none;
}

.product-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 4px;
  padding: 15px;
}

.product-info {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.product-info:hover {
  cursor: pointer;
}

.product-info img {
  align-self: center;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.product-info>strong {
  font-size: 16px;
  line-height: 20px;
  color: #878C99;
  margin-top: 8px;
}

.product-info>span {
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0;
}

.product-container button {
  background: transparent;
  color: #878C99;
  border: 2px solid #090306;
  border-radius: 4px;
  overflow: hidden;
  margin-top: auto;
  display: flex;
  align-items: center;
  transition: background 0.5s, color 0.5s;
}

.product-container button:hover {
  border: 2px solid #090306;
  color: #FFF;
  background: #090306;
}

.product-container button div {
  display: flex;
  align-items: center;
  padding: 12px;
  color: #878C99;
  background: #FFF;
  border-right: 2px solid #090306;
}

.product-container button div svg {
  margin-right: 5px;
}

.product-container button span {
  flex: 1;
  text-align: center;
  font-weight: bold;
}