.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #090306;
  padding: 16px 128px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: opacity 0.5s;
}

.logo:hover {
  opacity: 0.5;
}

.logo-icon {
  height: 32px;
}

.logo-text {
  margin-left: 8px;
  color: #CE2533;
  font-size: 20px;
  font-weight: bold;
}

.header-shopping-cart {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: opacity 0.5s;
}

.header-shopping-cart:hover {
  opacity: 0.5;
}

.header-shopping-cart div {
  text-align: right;
  margin-right: 10px;
}

.header-shopping-cart div>strong {
  display: block;
  color: #CE2533;
}

.header-shopping-cart div span strong {
  font-size: 12px;
  color: #fff;
}

.header-shopping-cart div span {
  color: #fff;
  font-weight: bold;
}