.product-container-details {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-container-details img {
  align-self: center;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.product-container-details button {
  width: 40%;
  padding: 10px;
  text-align: center;
  background: transparent;
  color: #878C99;
  border: 1px solid #CE2533;
  border-radius: 4px;
  overflow: hidden;
  margin-top: auto;
  display: flex;
  align-items: center;
  transition: background 0.5s, color 0.5s;
}

.product-container-details button:hover {
  border: 1px solid #CE2533;
  color: #FFF;
  background: #CE2533;
}

.product-info-details {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.product-info-details>strong {
  font-size: 16px;
  line-height: 20px;
  color: #878C99;
  margin-top: 8px;
}

.product-info-details>span {
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0;
}